@import '../../../styles/app';

.root {
  position: fixed;
  z-index: 199;
  overflow: auto;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  touch-action: none;

  & > .content {
    z-index: 200;
    width: 955px;
    margin: auto;
    margin-top: 20px;
  }
}

@media screen and (max-width: $screen-sm-min) {
  .content {
    width: 100% !important;
  }
}
