.btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  padding: 5px 15px;
  border-radius: 15px;
  outline: 0 !important;
  text-align: center;
  font-weight: 600;
  touch-action: none;

  &:disabled,
  &.disabled {
    cursor: not-allowed;
  }

  &.fbButton {
    margin-right: 2px;
    border-radius: 0;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: $facebook-brand;
    color: $primary-white;

    &::before {
      font-family: 'qood-life';
      content: 'd';
    }
  }

  &.googleButton {
    margin: 0;
    border-radius: 0;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: $google-brand;
    color: $primary-white;

    & > svg {
      vertical-align: top !important;
    }
  }

  &.btn-red,
  &.btn-white {
    min-width: 125px;
  }

  &.btn-red {
    border: 0;
    background-color: $brand-danger;
    color: $primary-white;

    &:disabled,
    &.disabled {
      background-color: lighten($brand-danger, 10%);
    }
  }

  &.btn-white {
    border: 1px solid $brand-danger;
    background-color: $primary-white;
    color: $brand-danger;

    &:disabled,
    &.disabled {
      color: lighten($brand-danger, 10%);
    }

    &:hover {
      background-color: $brand-danger;
      color: $primary-white;
    }
  }
}

.form-group, .form-block {
  & > label:not(.control-label) {
    width: 150px;
    display: inline-block;
    font-size: 15px;
    line-height: 36px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 0;
    vertical-align: top;
  }

  & > .texarea-input{
    resize: vertical;
  }

  & > .idle-input,
  & > .active-input,
  & > .inactive-input,
  & > .select,
  & > .texarea-input,
  & > .form-block input,
  & > .multiselect-input {
    display: inline-block;
    background-color: $primary-white;
    width: 100%;
    height: 36px;
    padding: 1px 0;
    border-radius: 0;
    vertical-align: top;

    &:focus {
      outline: none;
    }
  }

  & > .idle-input.disabled {
    padding: 5px;
    border: 1px solid darken($light-gray, 5%);
    color: darken($light-gray, 5%);
  }

  & > .idle-input,
  & > .active-input,
  & > .inactive-input,
  & > .select {
    padding: 5px;
    border: 1px solid darken($light-gray, 5%);
    width: calc(100% - 150px);

    &.mobile {
      width: 100%;
    }
  }

  & > .idle-input-gender {
    width: calc(100% - 150px);
    display: inline-block;
    background-color: white;
    height: 36px;
    padding: 1px 0;
    border-radius: 0;
    vertical-align: top;
  }

  & > .multiselect-input {
    border: none;
    width: calc(100% - 150px);
    padding: 0;

    &.mobile {
      width: 100%;
    }
  }

  .inactive-input {
    background-color: $body-bg;
    color: $primary-white;
  }

  .texarea-input {
    min-height: 120px;
  }

  .form-block {
    display: inline-block;
    background-color: $primary-white;
    width: calc(100% - 150px);
  }
}

.round-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  margin-left: 10px;
  position: relative;
  border: none;
  touch-action: none;

  &:focus {
    outline: none;
  }

  &:active {
    @include box-shadow(inset -1px 1px 6px 0 rgba(0, 0, 0, 0.3));
  }

  &::before {
    font-family: 'qood-life' !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 30px;
    pointer-events: none;
  }

  &.remove {
    color: $brand-danger;

    &::before {
      content: 'p';
    }
  }

  &.toggle::before {
    content: '\67';

    @include rotate(90);
    @include transition(0.5s);
  }

  &.toggle.open::before {
    color: $brand-success;

    @include rotate(0);
    @include transition(0.5s);
  }

  &.calendar::before {
    content: 'a';
    font-size: 16px;
    left: 7px;
    top: 7px;

    @include rotate(0);
    @include transition(0.5s);
  }

  &.calendar.open::before {

    @include rotate(180);
    @include transition(0.5s);
  }


  &.edit {
    &::before {
      content: '\45';
    }
  }
}

.editor-texarea,
.editor-toolbar {
  border: 1px solid darken($light-gray, 5%);
  border-radius: 0;
}

.placesAutocomplete {
  border: 1px solid darken($light-gray, 5%);
  padding: 5px!important;
  border-radius: 0;
}

.editor-texarea {
  min-height: 120px;
}

.tag-input > input {
  height: 36px;
  margin-top: 8px;
  border-radius: 0;
  border: 1px solid darken($light-gray, 5%);
  padding: 5px!important;
}
