@import '../../../../styles/app';

.root {
  width: $sidebar-width-open;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $sidebar-bg-color;
  color: $sidebar-color;
}

.nav {
  margin-top: $navbar-height;
  padding: 0;
  overflow-y: auto;
}
