@import '../../styles/app';

.root {
  /*
 .initialImage {
   width: 100%;
   height: 100%;
   object-fit: cover;
   background-image: url("../../image/acasa.png");
   min-height: 1080px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   filter: brightness(85%);
 }
 */

  #myVideo {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
  }
  .secound {
    width: 1000px;
    margin: -30px auto 0;
    position: relative;
    z-index: 40;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    h2 {
      color: $primary-gray;
      font-family: $font-family-dancing;
      font-size: 50px;
    }

      .about {
        display: flex;
        background-color: $primary-white;
        text-align: center;

        .descriptionAbout {
          width: 65%;

          p {
            padding: 10px 50px;
            color: $text-color;
            font-size: 15px;
            font-weight: 400;
          }
        }
        .imageAbout {
          width: 35%;
          height: 300px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.5s;
          }
        }
      }

      .banquet {
        display: flex;
        background-color: $primary-white;
        transition: 0.5s;

        .descriptionBanquet {
          width: 35%;
          text-align: center;

          p {
            padding: 10px 30px;
            color: $text-color;
            font-size: 15px;
            margin-bottom: 20px;
            font-weight: 400;
          }

          button {
            background: white;
            border-radius: 3px;
            border: 1px solid #1E824C;
            color: #22313f;
            height: 38px;
            padding: 0 30px;
            font-size: 18px;
            letter-spacing: 2px;
            cursor: pointer;
            transition: 0.25s;

            &:hover {
              color: white;
              background: #1E824C;
              transition: 0.25s;
            }
          }
        }

        .imageBanquet {
          width: 65%;
          height: 300px;
          object-fit: cover;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.5s;
          }
        }
      }
  }

  .bucatele {
    margin: -60px auto 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url("../../image/bucatele.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      color: white;
      font-weight: 700;
      font-size: 72px;
    }
  }

  .food {
    margin: -60px auto 0;
    z-index: 55;
    width: 1000px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    .elements {
      display: flex;
      text-align: center;

      .description {
        padding: 25px;

        & > h3 {
          font-size: 35px;
          color: $primary-gray;
          font-weight: 600;
        }

        & > p {
          font-family: $font-family-roboto;
          font-size: 16px;
          color: $text-color;
          font-weight: 400;
        }

        & > span {
          font-family: $font-family-roboto;
          font-size: 24px;
          color: #FABE58;
          font-weight: 600;
        }
      }

      .image {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }


      }

      & > div {
        width: 25%;
        height: 250px;
        background-color: $primary-white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }

  .menu {
    margin: -60px auto 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url("../../image/backFonMenu.png");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .content {
      text-align: center;
      padding-top: 130px;

      .menuImage {
        width: 400px;
        margin: 0 auto;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .category {
        margin-top: 50px;

        span {
          font-size: 24px;
          color: white;
          margin: 0 30px;
          border: 1px solid #FABE58;
          cursor: pointer;
          padding: 10px 20px;
          border-radius: 50px;
          transition: 0.25s;

          &:hover {
            background-color: #80271e;
            border: 1px solid #80271e;
            transition: 0.25s;
          }
        }
      }
    }
  }
}

.banquet:hover .imageBanquet img {
  transform: scale(1.1);
  transition: 0.5s;
}

.about:hover .imageAbout img {
  transform: scale(1.1);
  transition: 0.5s;
}

